/* ## Color Scheme ##  

	Primary Colors
	primary-1 { background-color: #336699 } //blue
	primary-2 { background-color: #336699 } //blue
	primary-3 { background-color: #003366 } //blueDark
	primary-4 { background-color: #6699CC } //blueLight
	primary-5 { background-color: #9999CC } //Purple

	secondary-a-1 { background-color: #FFFF66 } //Yellow
	secondary-a-2 { background-color: #CC9966 } //BrownYellow
	secondary-a-3 { background-color: #999900 } //Green
	secondary-a-4 { background-color: #FFFF66 } //YellowLight
	secondary-a-5 { background-color: #FFFF99 } //YellowExtraLight

	secondary-b-1 { background-color: #FF9966 } //Flesh
	secondary-b-2 { background-color: #CC9966 } //BrownLight
	secondary-b-3 { background-color: #996600 } //Brown
	secondary-b-4 { background-color: #FFCC66 } //OrangeFlesh
	secondary-b-5 { background-color: #FFCC99 } //WithGuyFlesh

http://colorschemedesigner.com/#3Ob1Xmmw0w0w0 <- mæli með að kíkja á þessa síðu herra kennari, er best í heimi.
*/

/* DomElements */
body{
	font-family: verdana, arial, sans;
	background: #E2E2E2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E2E2E2), color-stop(.3, white), color-stop(.7, white), color-stop(1, #E2E2E2)); 
	background: -moz-linear-gradient(top, 	#E2E2E2, white 30%, white 70%, #E2E2E2);
}

canvas{
	background: #FCFCFC;
}

/* Classes */

.klasi{


}


/* -Id's */

#content {
	height:100%;
	border-right: 1px solid #626467;
	border-left:1px solid #626467;
	background-color: #D0CEC3;
}

#head {

	background: #2A3E59;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2A3E59), color-stop(.3, #2E4461), color-stop(.7, #2E4461), color-stop(1, #2A3E59)); 
	background: -moz-linear-gradient(top, 	#2A3E59, white 30%, white 70%, #2A3E59);
	background-color: #2A3E59;
	/* little bit manipulation of 960.*/
	padding-left: 21px;
	margin-left: -1px;
	text-align: center;
	margin-bottom: 5px;
}


#drawing-board, #drawing-board:active , #drawing-board:focus {
	cursor: crosshair;
}

#drawing-board {
	border: 3px solid #875A3F;
	-moz-box-shadow: 0 0 5px 5px #818489;
	-webkit-box-shadow: 0 0 1.4px 1.4px#818489;
	box-shadow: 0 0 5.4px 1.5px #818489;
	margin-top:1em;
}
#colorPicker {
	background-color: #9C9B95;
	height: 55px;
	display:inline-block;
}
#colorPicker > p {
	height:35px;
	width:35px;
	display:inline-block;
	border:solid 1px gray;
	margin-top:9px;
	margin-left:5px;
}

#gapMaker{

}
#toolPicker{
	background-color: yellow;
	height: 40px;
}
#colorPicker > span {
	width:90px;
	height: 35px;
	display:inline-block;
	border:solid 1px gray;
	margin-top:9px;
	margin-right:9px;
	margin-bottom: 5px;
	text-align: center;
	padding-top:1px;
	color:#2A3E59;
	float:right;
}


#black{
	background-color: black;
}
#blue{
	background-color: blue;
}
#red{
	background-color: red;
}
#green{
	background-color: green;
}