/* ## Color Scheme ##  

	Primary Colors
	primary-1 { background-color: #336699 } //blue
	primary-2 { background-color: #336699 } //blue
	primary-3 { background-color: #003366 } //blueDark
	primary-4 { background-color: #6699CC } //blueLight
	primary-5 { background-color: #9999CC } //Purple

	secondary-a-1 { background-color: #FFFF66 } //Yellow
	secondary-a-2 { background-color: #CC9966 } //BrownYellow
	secondary-a-3 { background-color: #999900 } //Green
	secondary-a-4 { background-color: #FFFF66 } //YellowLight
	secondary-a-5 { background-color: #FFFF99 } //YellowExtraLight

	secondary-b-1 { background-color: #FF9966 } //Flesh
	secondary-b-2 { background-color: #CC9966 } //BrownLight
	secondary-b-3 { background-color: #996600 } //Brown
	secondary-b-4 { background-color: #FFCC66 } //OrangeFlesh
	secondary-b-5 { background-color: #FFCC99 } //WithGuyFlesh

http://colorschemedesigner.com/#3Ob1Xmmw0w0w0 <- mæli með að kíkja á þessa síðu herra kennari, er best í heimi.
*/

/* DomElements */
body{
	font-family: verdana, arial, sans;
	background: #E2E2E2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E2E2E2), color-stop(.3, white), color-stop(.7, white), color-stop(1, #E2E2E2)); 
	background: -moz-linear-gradient(top, 	#E2E2E2, white 30%, white 70%, #E2E2E2);
}

canvas{
	background: #FCFCFC;

}

/* Classes */

.klasi{


}


/* -Id's */

#content {
	height:100%;
	border-right: 1px solid #626467;
	border-left:1px solid #626467;
	margin-top:-5px;

	background-color: #D0CEC3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D0CEC3), color-stop(.3, #bab8ae), color-stop(.7, #bab8ae), color-stop(1, #D0CEC3)); 
	background: -moz-linear-gradient(top, 	#D0CEC3, #bab8ae 30%, #bab8ae 70%, #D0CEC3);
}

#head {

	background: #2A3E59;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2A3E59), color-stop(.3, #2E4461), color-stop(.7, #2E4461), color-stop(1, #2A3E59)); 
	background: -moz-linear-gradient(top, 	#2A3E59, #2E4461 30%, #2E4461 70%, #2A3E59);
	text-align: center;
	margin-bottom: 5px;
}


#drawing-board, #drawing-board:active , #drawing-board:focus {
	cursor: crosshair;
}

#drawing-board {
	border: 1 px solid #ccc;
	margin-top:20px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 0 0 1px 1px #000;
	-webkit-box-shadow: 0 0 4px 1px #000;
	box-shadow: 0 0 4px 1px #000;
}
#colorPicker {

	background-color: #b7b6b3;
	height: 125px;
	margin-top:-15px;
	margin-bottom: 5px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 0 0 1px 1px #000;
	-webkit-box-shadow: 0 0 4px 1px #000;
	box-shadow: 0 0 4px 1px #000;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b7b6b3), color-stop(.3, #c4c3c2), color-stop(.7, #c4c3c2), color-stop(1, #b7b6b3)); 
	background: -moz-linear-gradient(top, 	#b7b6b3, #c4c3c2 30%, #c4c3c2 70%, #b7b6b3);


}

#colorPallet{

	height:50px;
	margin-top:5px;
	padding-top:30px;
	padding-bottom:30px;

	border:1px solid #9e9e9e;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	

	background:#f4f4f4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f4f4f4), color-stop(.3, #ededed), color-stop(.7, #ededed), color-stop(1, #f4f4f4)); 
	background: -moz-linear-gradient(top, 	#f4f4f4, #ededed 30%, #ededed 70%, #f4f4f4);

	-moz-box-shadow: inset 0 0 2px 2px #000;
	-webkit-box-shadow: inset 0 0 19px 2px#000;
	box-shadow: inset 0 0 19px 2px #b7b6b3;

}

#colorPallet > div{
	
}

#posfix {

}


#black{
	background-color: black;
	margin-left:auto;
	margin-right:auto;
	width:93%;
	margin-bottom: 2px;
	
}
#blue{
	background-color: blue;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 2px;
	width:93%;
}

#red{
	background-color: red;
	margin-left:auto;
	margin-right:auto;
	width:93%;
	margin-bottom: 2px;
}

#green{
	background-color: green;
	margin-left:auto;
	margin-right:auto;
	width:93%;

}